SHOPIFY_STORE=y0ngah-e1.myshopify.com
SHOPIFY_THEME_TOKEN=shptka_your_token_here
SHOPIFY_PROD_THEME_ID=your_prod_theme_id
SHOPIFY_TEST_THEME_ID=your_test_theme_id
SHOPIFY_CLIENT_ID=your_client_id
SHOPIFY_CLIENT_SECRET=your_client_secret